<section id="about" class="fade-in py-20 text-center">
  <div class="container">
  <h2 class="text-4xl mb-6">About Me</h2>
  <p class="max-w-2xl mx-auto text-gray-400">
    I'm a Full Stack Java Developer with 4+ years of experience in building enterprise-grade applications using Java, Spring Boot, Microservices, and Angular. Experienced in developing RESTful APIs, implementing and designing scalable microservices. Hands-on
with containerization and cloud deployments, with exposure to AWS and GCP. Comfortable working in Agile, cross-functional teams to deliver high-quality solutions.
  </p>
  </div>
</section>