<footer class="bg-black border-t border-gray-800 py-6">

  <div class="container flex flex-col md:flex-row justify-between items-center gap-4">

    <!-- LEFT -->
    <p class="text-gray-400 text-sm">
  © {{ year }} Kalaiyarasan S. All rights reserved.
    </p>

    <!-- RIGHT -->
    <div class="flex gap-6 text-gray-400">

      <a href="https://github.com/JARVIS-03" target="_blank" class="hover:text-white transition">
        <i class="fab fa-github"></i>
        GitHub
      </a>

      <a href="https://www.linkedin.com/in/kalaiyarasan-s/" target="_blank" class="hover:text-white transition">
        <i class="fab fa-linkedin"></i>
        LinkedIn
      </a>

      <a href="https://stackoverflow.com/users/13542629/kalaiyarasan-s" class="hover:text-white transition">
        <i class="fa-brands fa-stack-overflow"></i>
        Stack Overflow
      </a>

      <a href="https://medium.com/@kalaiyarasansky33" class="hover:text-white transition">
        <i class="fab fa-medium"></i>
        Medium
      </a>

      <a href="mailto:kalaiyarasansky33@gmail.com" class="hover:text-white transition">
        <i class="fa fa-envelope"></i>
        Mail
      </a>

    </div>

  </div>

</footer>