<section id="linkedin" class="fade-in py-20 text-center">
  <div class="container">
  <i class="fa-brands fa-linkedin" style="font-size:48px"></i>
  <h2 class="text-4xl mb-6">LinkedIn Activity</h2>

  <p class="text-gray-400 mb-6">
    Check out my latest posts and professional updates.
  </p>

  <a 
    href="https://www.linkedin.com/in/kalaiyarasan-s"
    target="_blank"
    class="px-6 py-3 bg-indigo-600 rounded-lg hover:bg-indigo-700 transition"
  >
    View My LinkedIn
  </a>
  </div>
</section>