<!-- Floating Button -->

<button
  (click)="toggleChat()"
  class="chat-toggle"
>

  <span *ngIf="!isOpen">💬</span>
  <span *ngIf="isOpen">✖</span>

</button>

<!-- Chat Window -->

<div
  class="chat-window"
  [class.open]="isOpen"
>

  <div class="chat-header">
    Portfolio Assistant 🤖
  </div>

  <div class="chat-body">

    <div
      *ngFor="let message of messages"
      class="message"
      [class.user]="message.sender === 'user'"
      [class.bot]="message.sender === 'bot'"
    >

      {{ message.text }}

    </div>

    <div *ngIf="isTyping" class="typing">
      Portfolio Assistant is typing...
    </div>

  </div>

  <div class="suggestions">

  <button
    *ngFor="let suggestion of suggestions"
    (click)="userInput = suggestion; sendMessage()"
  >
    {{ suggestion }}
  </button>

</div>

  <div class="chat-footer">

    <input
      [(ngModel)]="userInput"
      (keyup.enter)="sendMessage()"
      placeholder="Ask me anything..."
    />

    <button (click)="sendMessage()">
      Send
    </button>

  </div>

</div>